*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    width: 1440px;
    font-family: 'ABeeZee';
    font-style: italic;
}
header{
    background: #F4F9E2;
}
nav{
    padding: 20px 135px 85px 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
nav div a{
    text-decoration: none;
    padding-bottom: 10px;
    color: #000000;
}
nav div a:hover{
    border-bottom: 1px solid #22356F;
}
nav button{
    border: none;
    border-radius: 25px;
    padding: 17px 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #F9B640;;
}
.bicycle_workshop{
    padding: 0 60px 90px 180px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.bicycle_workshop div{
    width: 600px;
}
h1{
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 50px;
    color: #22356F;
}
.bicycle_workshop div p{
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
    color: #22356F;
}
.offer{
    display: flex;
}
.offer div{
    padding: 130px 165px;
    background-color: #62D0DF;
}
.offer div h2{
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 30px;
    color: #FFFFFF;
}
.offer div p{
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}
.text{
    padding: 250px 300px 140px 400px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #22356F;
}
.text p{
    padding-bottom: 20px;
}
.menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 480px;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
}
.menu div{
    padding-left: 70px;
    padding-top: 90px;
} 
.item1{
    background-color: #22356F;
}  
.item2{
    background-color: #0052c1;
}
.item3{
    background-color: #76b58b;
}
.menu h6{
    font-weight: 400;   
    font-size: 32px;
    line-height: 34px;
    padding-top: 30px;
    width: 340px;
    border-top: 1px solid #FFFFFF;;
    color: #FFFFFF;
}
.rental{
    display: flex;
}
.rental div{
    margin: 240px 60px;
    width: 670px;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color:  #22356F;
}
.rental div p:first-child{
    padding-bottom: 50px;
}
