
.image{
    height: 300px;
    width: 200px;
    object-fit: cover;
    border: none;
    float: left;
}
.des{
    max-width: 200px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: #00868A;
}
.arrow{
    padding: 8px 5px;
    border: 1px solid white;
}
